<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>C:\webdeploypakages\Dazgveva.Reportebi.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Dazgveva</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PirvelckaroebiConnectionString1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=triton;Initial Catalog=Pirvelckaroebi;User ID=sa;Password=ssa$20" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PirvelckaroebiConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=triton;Initial Catalog=Pirvelckaroebi;User ID=sa;Password=ssa$20" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PirvelckaroebiConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=megamozg;Initial Catalog=Pirvelckaroebi;Persist Security Info=True;User ID=sa;Password=`" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PirvelckaroebiConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=megamozg;Initial Catalog=Pirvelckaroebi;Persist Security Info=True;User ID=sa;Password=`" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="INSURANCEWConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=triton;Initial Catalog=INSURANCEW;Persist Security Info=True;User ID=sa;Password=ssa$20" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\INSURANCEWConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=triton;Initial Catalog=INSURANCEW;Persist Security Info=True;User ID=sa;Password=ssa$20" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationServices" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|aspnetdb.mdf;Integrated Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SocialuriDazgvevaConnectionString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=insuranceapp,1433;Initial Catalog=SocialuriDazgveva;Persist Security Info=True;User ID=sa;Password=T@Tushka0827" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SocialuriDazgvevaConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=insuranceapp,1433;Initial Catalog=SocialuriDazgveva;Persist Security Info=True;User ID=sa;Password=T@Tushka0827" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <ExcludeApp_Data>False</ExcludeApp_Data>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationServices-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)INSURANCEWConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PirvelckaroebiConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PirvelckaroebiConnectionString1-Web.config Connection String" />
  </ItemGroup>
</Project>