@{
    ViewBag.Title = "მთავარი გვერდი";
}

<h2>@ViewBag.Message</h2>
<p>შეიტანე ფიდი, პიდი, Unnom-ი, დაბადების თარიღი , სახელი  გვარი ან ნებისმიერი კომბინაცია</p>
<form action="@Url.Action("Dzebna")" method="GET">
    <input type="text" name="q"/>
    <input type="submit" value="ძებნა"/>
</form>